#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  
  background-color: #555;
}

 #nav-bar > li > a {
 text-decoration: none;
 color: white;
 
}
