body {
  margin-left: 10%;
  background-color: #333;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  
  
  
}

.navLink {
  padding-right: 60px;
  
  
}



 #nav-bar > li > a {
 text-decoration: none;
 color: black;
 font-size: large;
 
}





#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: whitesmoke;
  
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: medium;
  border: dashed 1px black;
  
  padding-left: 10px;
  padding-right: 10px;
  background-color: whitesmoke;
  color: black;
}

#bio-image {
  height: 200px;
  width: 200px;
  border: solid 1px grey;
 
}





#dropdown {
  background-color: black;
  


}





#links {
  display: flex;
  flex-direction: row;
  
}

#links > p > a {
  padding-right: 10px;
}




