

#nav-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  
  padding-left: 580px;
  
}

.navLink {
  border: 1px solid deepskyblue;
  padding-left: 4px;
  padding-right: 4px;
  background-color: #5c5858;
}



 #nav-bar > li > a {
 text-decoration: none;
 color: white;
 font-size: large;
 
}

h1 {
  
  text-align: center;
  color: #f64c72;
 font-size: xx-large;
 
 
}



#bio {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#bio-image {
  height: 200px;
  width: 200px;
  border: solid 1px gold;
}





#dropdown {
  padding-left: 540px;


}





#links {
  display: flex;
  flex-direction: row;
  padding-left: 580px;
  
}

#git {
  padding-right: 10px;
}
