body {
  margin-left: 10%;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  
  
  
}

.navLink {
  padding-right: 40px;
  
  
}



 #nav-bar > li > a {
 text-decoration: none;
 color: black;
 font-size: large;
 
}





#bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  font-size: smaller;
}

#bio-image {
  height: 200px;
  width: 200px;
  border: solid 1px grey;
}





#dropdown {
  background-color: black;
  


}





#links {
  display: flex;
  flex-direction: row;
  
}

#links > p > a {
  padding-right: 10px;
}




